*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
    text-align: center;
}

.section1{
    background-image: url(images/pexels-blue-bird-7210273.jpg);
}

h1{
    background-color: rgb(227, 240, 240);
}